<div
  class="card"
  [class.savings]="account.accountType == 'savings'"
  [class.checking]="account.accountType == 'checking'"
>
  <div class="header">
    <span class="type">{{ account.accountType == 'savings' ? 'Tabungan' : 'Giro' }}</span>
    <span class="number">{{ account.accountNumber }}</span>
  </div>
  <div class="owner">{{ account.ownerName }}</div>
  <div class="balance">
    <span class="currency">{{ account.currency }}</span>
    <span class="amount">{{ account.balance | number: '1.0-0' }}</span>
  </div>
</div>
